.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  padding: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: breath 8s ease infinite none running
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
@keyframes breath {
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
}